<h1>{{ section.settings.text }}</h1>
<product-recommendations class="complementary-products quick-add-hidden no-js-hidden{% if block.settings.make_collapsible_row %} is-accordion{% endif %}{% if block.settings.enable_quick_add %} complementary-products-contains-quick-add{% endif %}" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ block.settings.product_list_limit }}&intent=complementary">
  <p>got products</p>
  {%- if recommendations.performed and recommendations.products_count > 0 -%}
    <p>got products</p>
  {%- endif -%}
</product-recommendations>

{% schema %}
{
  "name": "Goes well with section",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Section Title"
    }
  ],
  "presets": [
    {
      "name": "Goes well with section"
    }
  ],
  "tag": "header",
  "class": "goes-well-with",
  "limit": 1
}
{% endschema %}
