<div
  class="product-recommendations"
  data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=4&intent=related"
>
  <h1>recommendations.products_count = {{ recommendations.products_count }}</h1>
  <h1> before </h1>
  {% if recommendations != blank %}
    <h1> not blank </h1>
  {% endif %}
  {%- if recommendations.performed? and recommendations.products_count > 0 -%}
    <h1>{{ section.settings.text }}</h1>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Goes well with section",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Section Title"
    }
  ],
  "presets": [
    {
      "name": "Goes well with section"
    }
  ],
  "tag": "header",
  "class": "goes-well-with",
  "limit": 1
}
{% endschema %}
